:root {
  --praimarycolor: #f18f0f;
  --secondColor: #002147;
}

* {
  transition: all ease-out 0.2s;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.praimaryText-hover:hover {
  color: var(--praimarycolor) !important;
}

.my-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.large-button {
  padding: 0.5rem 1rem;
}

.font-xss {
  font-size: 11px;
}

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 18px;
}

.font-smiMd {
  font-size: 20px;
}

.font-lg {
  font-size: 26px;
}

.navbar-buttons > a {
  margin-right: 1rem;
}

.carousel-indicators [data-bs-target] {
  width: 13px;
  height: 13px;
  margin-right: 8px;
  margin-left: 4px;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .navbar-buttons > a {
    margin: 0.4rem 0;
  }
}

.hero-icon {
  width: 129px;
  height: 142px;
}

.games-hero {
  background: url("./assets/images/games_background.png");
  display: flex;
  align-items: center;
  height: 400px;
}

.search-button-icon {
  position: absolute;
  z-index: 1000;
  right: 0;
  padding: 0 15px;
  height: 100%;
  background: white;
  border-left: 0;
}

.search-button-icon > svg {
  font-size: 1.1rem;
}

/* Start Footer */
.footer {
  margin-top: auto;
}
.footer-icon:hover {
  transform: scale(1.2);
}

.footer-icon {
  width: 50px;
  height: 50px;
  background: var(--praimarycolor);
  padding: 10px;
  border-radius: 10px;
}
/* End Footer */

/*Start Career Page*/
.select-game {
  flex-flow: row wrap;
  justify-content: space-between;
}

.careers-bg {
  background-image: url("./assets/images/bg_image_3.png");
  background-repeat: repeat-x;
  padding: 3rem 1rem;
}

@media screen and (max-width: 350px) {
  .lego-image {
    width: auto;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 740px) {
  .select-game {
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  .second-lego-image {
    top: -80px;
    position: absolute;
  }
}

/*End Career Page*/

/*Start Nodes Page */

.nodes-section {
  background-image: url("./assets/images/bg_image_1.png");
  background-repeat: no-repeat;
  padding: 2rem 4rem;
  background-position: -47px -46px;
  min-height: 39vh;
  align-items: center;
}

.founder-node-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-image {
  background: rgb(255 255 255 / 38%);
}

/*End Nodes Page*/

/*Start About Page*/

.about-section-img {
  background-image: url("./assets/images/about_background.png");
  color: #fff;
  min-height: 40vh;
  background-position: center center;
  background-attachment: fixed;
  padding: 2rem 4rem;
}

/*End About Page*/
